@page
@model SupermarketWEB.Pages.PayMode.IndexModel
@{
    ViewData["Title"] = "Index Categories";
}
<h1>Index Categories</h1>

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.payModes[0].PayModeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.payModes[0].PayModeObservation)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.payModes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PayModeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayModeObservation)
                </td>

                <td>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                </td>

                <td>
                    <span></span>
                </td>
            </tr>
        }
    </tbody>
</table>
